
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hexaware ID Card Generator</title>
  <!-- Compiled and minified CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"> -->
  <link rel="stylesheet" href="js/cardify.css">
  <!-- Compiled and minified JavaScript -->

  <script>
      function printDiv() {

          setTimeout(function()
          {
             var toPrint = document.getElementById('printarea')
             var popupWin = window.open('', '_blank', 'width=550,height=550,location=no,left=200px');
             popupWin.document.open();
             popupWin.document.write('<html><title>::Preview::</title><link rel="stylesheet" type="text/css" href="css/print.css" /></head><body onload="window.print()">')
             popupWin.document.write(toPrint.innerHTML);
             popupWin.document.write('</html>');
             popupWin.document.close();
             setTimeout(function (){popupWin.close();}, 1000);
          },
          8000)
          }  
          function Redirect() {
           window.location="http://localhost:3000";
          }  
          // document.write("You will be redirected to main page in 10 sec.");
          setTimeout('Redirect()', 10000);    
  </script>
</head>

<body onLoad="printDiv()" id="printarea">

    <aside class="profile-card">
   
          <div class="col s12 m7" class="card" id="printMe">
              <div class="card horizontal">
        <div class ="card-image">
        <!-- here’s the avatar -->
        <ul class="profile-social-links">
          <img src="images/logo.png" style="height:50px;">
        </ul>
          <img src="<%= image %>" class="hoverZoomLink" style="height:100px; width: 100px; border:5px solid #e4e7ff; border-radius:50%">
        </div>
        <br>
<div class="card-stacked">
  <div class="card-content">
      <div class="profile-bio">
        <table style="text-align:left;">
            <h2>Emp ID : <%= details.employeeid %></h2>
            <h2><%= details.employeename%></h2>
              <tr>
              <td><b>Phone<b></td>
              <td>&emsp;:&emsp;</td>
              <td><%= details.mobile %></td>
              </tr>
              <tr>
              <td><b>Company</b></td>
              <td>&emsp;:&emsp;</td>
              <td>Hexaware</td>
              </tr>
              <tr>
              <td><b>Department</b></td>
              <td>&emsp;:&emsp;</td>
              <td><%= details.department %></td>
              </tr>
              <tr>
              <td><b>Purpose</b></td>
              <td>&emsp;:&emsp;</td>
              <td>Temporary ID</td>
              </tr>
        </table>
      </div>
      <div class="card-action">
        <a>Validity:</a><span><%= date%></span>
      </div>
      </div>
     </div>
    </div>
    </div>
    </aside>
    
  </body>

</html>
